{% extends '_layout.html.twig' %}

{% block title %}Wild Circus | Acceuil{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('accueil') }}
    {% endblock %}
{% block body %}
    <section class="w-100 d-flex flex-column justify-content-center align-items-center bg-primary">
        <h1 class="text-center mb-4">Wild Circus</h1>
        <figure class="rounded">
            <img class="rounded" src="https://zupimages.net/up/20/06/0c2h.jpg" alt="Circus-picture">
        </figure>
        <div>
            <p></p>
        </div>
    </section>


{% endblock %}
