{% extends 'base.html.twig' %}

{% block title %}Wild Circus{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}
{% block body %}
    <section class="w-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center mb-4">Bienvenue au Wild Circus</h1>
        <div class="d-flex flex-md-row flex-column col-12 p-0 justify-content-center align-items-center mt-md-5">
            <a class="btn btn-red col-8 col-lg-2 col-md-3 my-3 mx-3" href="{{ path('hard') }}">Entrée sur la piste</a>
        </div>
    </section>


{% endblock %}
