{% extends 'base.html.twig' %}

{% block title %}Edit HomeMessage{% endblock %}

{% block body %}
    <h1>Edit HomeMessage</h1>

    {{ include('home_message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home_message_index') }}">back to list</a>

    {{ include('home_message/_delete_form.html.twig') }}
{% endblock %}
