@import "vars";
@import "~bootstrap/scss/bootstrap";

body {
  background: center / cover url("../images/WildCircus.jpg")  ;
  background-attachment: fixed;
}
section {
  min-height: 100vh;
}
h1 {
  font-family: 'FreakShow';
  color: $light;
  font-size: 7em;
  line-height: 1em;
}

p {
  color: $light;
  font-family: 'Cirkus';
  font-size: 4em;
  line-height: 1em;
}

.btn {
  color: $light;
  font-family: 'Cirkus';
  font-size: 1.5em;
}
