@import "vars";
@import "~bootstrap/scss/bootstrap";

label {
  color: $light;
  font-family: 'Cirkus';
  font-size: 2em;
  line-height: 1em;
}

h1 {
  font-size: 3em!important;
}

.btn {
  font-family: 'FreakShow';
  font-size: 1.5em;
}
